<%- include("header") -%>
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<center>

  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">ููุชุจุฉ ููุฏู </h1>
        <p class="lead text-muted"> ุฅููู ูุฌููุนุฉ ูู ุงูุฃุฏูุงุช ู ุงูุฃููุงุฏ ุงูุชู ุชุฌุนู ุชุตูููู ุฃูุซุฑ ุฌุงุฐุจูุฉ ูู ูุฑููุฉ ุ ุจุฅููุงูู ุดุฑุงุก ุฃูููุง ูููุง ุ ููุง ููููู ุนุฑุถ ุฃู ูุญุชูู ูููุฏ ูุทูุฑู ุงูููุงูุน ููุจูุน </p>
        <p>
          <a href="/myAlbums" class="Dbtn btn-primary my-2" style="display:<%= btnVisabilityMy %>">ุงููุงุฏู ููุง</a>
          <a href="/membership" class="Dbtn btn-secondary my-2">ุญุฏุซ ุนุถููุชู</a>

          <!-- enable add form -->
          <!--  <a href="/addnewAlbumss" class="Dbtn btn-primary my-2" onclick="displayForm()" id="checkToAdd">ุงุถู ููุฏู</a>  -->
          <a href="/addAlbums" class="Dbtn btn-primary my-2" style="display:<%= btnVisabilityAdd %>">ุงุถู ููุฏ ุฌุฏูุฏ</a>

        </p>
      </div>
    </section>


    <h4> ุชุฌุฏ ุฌููุน ุงูุงููุงุฏ ููุง </h4>
    <div class="album py-5 bg-light">
      <div class="container">
        <!-- to display albums as rows -->
        <div class="row">

          <!-- const array_name = ['a', 'b', 'c'];  -->
          <!-- array_name.forEach(function () {} ); -->
          <% newAlbums.forEach(function(album){ %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <form class="" action="/albums" method="post" onload="checkCode();">

                <b class="card-text"> ุนููุงู ุงูููุฏ : <%= album.title %> </b>

                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                  <title>ุฃููุงุฏ</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em"> ุงููุตู: <%= album.description %> </text>
                </svg>

                <div class="card-body">
                  <p class="card-text" id="codeType"> ููุน ุงูููุฏ: <%= album.codeType %></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn Abtn btn-sm btn-outline-secondary"> ูุนุงููุฉ ๐ </button>
                      <button type="button" class="btn  Abtn btn-sm btn-outline-secondary"> ุงุญุตู ุนููู ุจ <%= album.cost %> $ </button>
                    </div>
                    <small class="text-muted"> ุงููุงุดุฑ : <%= album.ownerName %> </small> <!-- code owner -->
                  </div>
                </div>

                <input type="hidden" name="listName" value=" owner "></input>
              </form>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </main>
</center>



<%- include("footer") -%>



<!-- for (var i = 0, len = arr.length; i < len; i++) { someFn(arr[i]);  }  -->
<!-- -------------------------------  -->

<!-- const array_name = ['a', 'b', 'c'];  -->
<!-- array_name.forEach(function () {} ); -->
