<%- include("header") -%>
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<center>

  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">مكتبة كودي </h1>
        <p class="lead text-muted"> إليك مجموعة من الأدوات و الأكواد التي تجعل تصميمك أكثر جاذبية وَ مرونة ، بإمكانك شراء أيًّا منها ، كما يمكنك عرض أي محتوى يفيد مطوري المواقع للبيع </p>
        <p>
          <a href="/membership" class="Dbtn btn-primary my-2"> حدث عضويتك </a>
          <a href="/albums" class="Dbtn btn-secondary my-2">عودة الى الالبومات </a>

          <!-- enable add form -->
          <!--  <a href="/addnewAlbumss" class="Dbtn btn-primary my-2" onclick="displayForm()" id="checkToAdd">اضف كودك</a>  -->
          <a href="/addAlbums" class="Dbtn btn-primary my-2" style="display:">اضف كود جديد</a>

        </p>
      </div>
    </section>


    <h4> اهلا  تجد جميع اكوادك هنا </h4>

    <label for="" name="noAlbum" style="color:green;" id="errmsg"> <%= editAlbumMsg %> </label>

    <div class="album py-5 bg-light">
      <div class="container">
        <!-- to display albums as rows -->
        <div class="row">


          <!-- const array_name = ['a', 'b', 'c'];  -->
          <!-- array_name.forEach(function () {} ); -->
          <% newAlbums.forEach(function(album){ %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <form class="" action="/updateAlbum" method="post" onload="checkCode();">

                <b class="card-text"> عنوان الكود : <%= album.title %> </b>

                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                  <title>أكواد</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em"> الوصف: <%= album.description %> </text>
                </svg>

                <div class="card-body">
                  <p class="card-text" id="codeType"> نوع الكود: <%= album.codeType %></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="submit" class="btn Abtn btn-sm btn-outline-secondary" name="editButton" value="<%= album._id %>" > تعديل </button>
                      <button type="submit" class="btn  Abtn btn-sm btn-outline-secondary"  name="editButton" value="<%= album._id %>" > حذف  </button>
                    </div>
                    <small class="text-muted"> الناشر : <%= album.ownerName %> </small> <!-- code owner -->
                  </div>
                </div>

                <input type="hidden" name="listName" value=" owner "></input>
              </form>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </main>
</center>



<%- include("footer") -%>



<!-- for (var i = 0, len = arr.length; i < len; i++) { someFn(arr[i]);  }  -->
<!-- -------------------------------  -->

<!-- const array_name = ['a', 'b', 'c'];  -->
<!-- array_name.forEach(function () {} ); -->
