<%- include("header") -%>




   <body>
     <div class="pro" dir="rtl" align="right">
          <h4>معلومات المستخدم : </h4>
          <center>
     <ul class="list-group">
     <li class="list-group-item" >اسم المستخدم: <h5><%= username %></h5> </li>
    <!-- password  -->
     <li class="list-group-item"> البريد الالكتروني: <h5><%= email %></h5> </li>
     <li class="list-group-item">  العضوية: <h5><%= membership %></h5> </li>
   </ul>
   </center>

     </div>
   <!-- important links -->
   <section class="sec9">
     <p class="info_paragraph" id="aboutsite">عن موقعنا</p>
     <p class="info_paragraph" id="oursections">الاقسام</p>
     <p class="info_paragraph" id="contact">تواصل معنا</p>
   </section>



<%- include("footer") -%>
