<%- include("header") -%>
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<center>
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container-fluid">
        <h1 class="jumbotron-heading">مكتبة كودي </h1>
        <p class="lead text-muted"> إليك مجموعة من الأدوات و الأكواد التي تجعل تصميمك أكثر جاذبية وَ مرونة ، بإمكانك شراء أيًّا منها ، كما يمكنك عرض أي محتوى يفيد مطوري المواقع للبيع </p>
        <p>
          <a href="/membership" class="Dbtn btn-primary my-2"> حدث عضويتك </a>
          <a href="/albums" class="Dbtn btn-secondary my-2">عودة الى الالبومات </a>

          <!-- enable add form -->
          <!--onclick="displayForm()"-->
          <a href="/myalbums" class="Dbtn btn-primary my-2" > عوده الى البوماتي </a>


        </p>
      </div>
    </section>



    <div class="album py-5 bg-light">
      <div class="container-fluid">
        <!-- to display albums as rows -->


          <!-- add new codes  -->
          <form class="" action="/myalbums" method="post" style="align:center;" <!--style="display:none;" id="add" -->>

            <label for="checkType"> <u> تحديث نوع الكود </u> </label> <br>
            <input <%= htmlChecked %> type="checkbox" name="htmlCode" value="true"> HTML <br>

            <input <%= jsChecked %> type="checkbox" name="javascriptCode" value="true"> JAVA SCRIPT <br>

            <input <%= cssChecked %> type="checkbox" name="cssCode" value="true"> CSS <br> <br>

            <label for="keyword"><u>نوع اخر؟</u></label> <br>
            <input type="text" name="keyword" value="<%= keyword %>" placeholder="كلمات دلالية"> <br>

            <hr class="hr-line">

            <label for="title"> <u>تحديث عنوان الكود</u></label> <br>
            <input type="text" name="updateTitle" value="<%= updateTitleVar %>" placeholder=" تحديث عنوان الكود"><br>

            <label for="code"><u>   تحديث الكود هنا </u> </label> <br>
            <textarea name="code" rows="8" cols="80" placeholder=" تحديث الكود هنا"><%= updateCodeVar %></textarea><br>

            <label for="description"><u> تحديث الوصف هنا</u></label> <br>
            <textarea name="updateDescription" rows="5" cols="80" placeholder="تحديث الوصف هنا"><%= updateDecVar %> </textarea> <br>

            <label for="cost"> <u>  تحديث السعر </u> </label> <br>
            <input type="text" name="updateCost" value="<%= updateCostVar %>"  placeholder=" تحديث سعر الكود" /><br>



            <button type="submit" name="albumIdButton" class="Dbtn" value="<%= idUpdate %>"> تحديث  </button>

          </form>



      </div>
    </div>
  </main>
</center>
<!-- check if user logged in by log in button appearance -> let addForm appeares -->
<script>
  function displayForm() {
    var appearance = document.getElementById('signBtn').style.display;
    if (appearance == 'none') {
      document.getElementById('add').style.display = 'block';
    } else {
      document.getElementById('checkToAdd').href = '/login';
    }
  }
</script>


<%- include("footer") -%>
