<%- include("header") -%>
<section class="jumbotron text-center"  id="ViewSection" style="align:center;">

  <label for="checkType"><u>   الكلمات الدلالية   </u></label><br>
  <label type="text" name="keyword"><%= keyword %></label> <br>

  <hr class="hr-line">

  <label for="title"><u>عنوان الكود</u></label> <br>
  <label type="text" name="updateTitle"><%= updateTitleVar %></label><br>

  <label for="code"><u>الكود</u></label> <br>
  <code><p name="code" rows="8" cols="80" readonly><%= updateCodeVar %></p></code><br>

  <label for="description"><u>وصف الكود</u></label> <br>
  <p name="updateDescription" rows="5" cols="80" readonly copy="disable"><%= updateDecVar %></p><br>

  <a href="/albums"><button type="button" name="albumIdButton" class="Dbtn" value=" "> × </button></a>


</section>
<%- include("footer") -%>
